.main__image {
  border-radius: 50%;
  box-shadow: 8px 15px 25px rgba(26, 9, 9, 0.5);
  box-shadow: inset 2px 2px rgba(73, 70, 70, 0.2);
  padding: 0.2em;
  padding-bottom: 1em;
}

.row {
  margin: 0 auto;
}
.navbar-brand {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.home--red {
  color: rgb(241, 80, 80) !important;
  font-weight: bold;
}
.home--red:hover {
  color: rgb(219, 21, 21) !important;
}
.video {
  width: 100%;
  height: 100vh;
}
.nav__logo:hover {
  opacity: 0.8;
}
